<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sharedbike.mapper.AdminMapper">

    <select id="getAllAdmins" resultType="com.example.sharedbike.entity.Admin">
        SELECT * FROM Admin
        ORDER BY ${sortBy}
        <if test="sortOrder != null">
            ${sortOrder}
        </if>
        LIMIT #{size} OFFSET #{offset}
    </select>
    <select id="searchAdmins" resultType="com.example.sharedbike.entity.Admin">
        SELECT * FROM Admin
        <where>
            <if test="searchBy != null and searchBy != ''">
                ${searchBy} LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
        <choose>
            <when test="sortOrder != null and sortOrder != ''">
                ORDER BY ${searchBy} ${sortOrder}
            </when>
            <otherwise>
                ORDER BY ${searchBy}
            </otherwise>
        </choose>
        LIMIT #{size} OFFSET #{offset}
    </select>


        <insert id="insertAdmin" parameterType="com.example.sharedbike.entity.Admin">
            INSERT INTO admin (adminid, privileges, username, gender, password, phonenumber, avatar, birthday)
            VALUES (#{adminid}, #{privileges}, #{username}, #{gender}, #{password}, #{phonenumber}, #{avatar}, #{birthday})
        </insert>
    <update id="updateAdmin" parameterType="com.example.sharedbike.entity.Admin">
        UPDATE admin
        SET
            privileges = #{privileges},
            gender = #{gender},
            password = #{password},
            phonenumber = #{phonenumber},
            avatar = #{avatar},
            birthday = #{birthday}
        WHERE adminid = #{adminid}
    </update>
    <update id="updateAdmin2" parameterType="com.example.sharedbike.entity.Admin">
        UPDATE admin
        SET
            gender = #{gender},
            password = #{password},
            phonenumber = #{phonenumber},
            avatar = #{avatar},
            birthday = #{birthday}
        WHERE adminid = #{adminid}
    </update>
</mapper>
