<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sharedbike.mapper.BikeMapper">

    <select id="getAllBikes" resultType="com.example.sharedbike.entity.Bike">
        SELECT * FROM Bike
        ORDER BY ${sortBy}
        <if test="sortOrder != null">
            ${sortOrder}
        </if>
        LIMIT #{size} OFFSET #{offset}
    </select>
    <select id="searchBikes" resultType="com.example.sharedbike.entity.Bike">
        SELECT * FROM Bike
        where {$searchBy} LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY ${searchBy}
        <if test="sortOrder != null">
            ${sortOrder}
        </if>
        LIMIT #{size} OFFSET #{offset}
    </select>
</mapper>
