<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sharedbike.mapper.RiderMapper">

    <select id="getAllRiders" resultType="com.example.sharedbike.entity.Rider">
        SELECT * FROM Rider
        ORDER BY ${sortBy}
        <if test="sortOrder != null">
            ${sortOrder}
        </if>
        LIMIT #{size} OFFSET #{offset}
    </select>
    <select id="searchRiders" resultType="com.example.sharedbike.entity.Rider">
        SELECT * FROM Rider
        where {$sortBy} LIKE CONCAT('%', ${keyword}, '%')
        ORDER BY ${sortBy}
        <if test="sortOrder != null">
            ${sortOrder}
        </if>
        LIMIT #{size} OFFSET #{offset}
    </select>

</mapper>